<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />


<body id="body-pd">
<div th:replace="fragments :: html_sidebar"/>
<!--Container Main start-->
<div class="container cheight-100 ">
    <a href="" th:href="@{'medecin/form'}" class="btn btn-outline-secondary">
        <i> Ajouter Médecin</i> </a>&nbsp;&nbsp;
    <br>
    <br>
    <table class="table table-hover">
        <thead>
        <tr >
            <th  scope="col">Nom</th>
            <th  scope="col">Email</th>
            <th  scope="col">Specialité</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m: ${medecinList}">
            <td th:text="'Dr '+${m.nom}"></td>
            <td th:text="${m.email}"></td>
            <td th:text="${m.specialite}"></td>
            <td><a class="btn btn-warning" th:href="@{'/medecin/'+${m.id}}" href="">Modifier</a>
                <a class="btn btn-danger"  th:href="@{'/medecin/delete/'+${m.id}}" href="" >Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>