<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>


<body id="body-pd">
<div th:replace="fragments :: html_sidebar"/>
<!--Container Main start-->
<div class="container">
    <div class="height-100">
        <a href="" th:href="@{'patient/form'}" class="btn btn-outline-secondary">
            <i> Ajouter Patient</i> </a>&nbsp;&nbsp;
        <br>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Numéro de telephone</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p: ${patientList}">
                <td th:text="${p.nom}"></td>
                <td th:text="${p.email}"></td>
                <td th:text="${p.numTel}"></td>
                <td><a class="btn btn-warning" th:href="@{'/patient/'+${p.id}}" href="">Modifier</a>
                    <a class="btn btn-danger" th:href="@{'/patient/delete/'+${p.id}}" href="">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>